:root {
    --c-brand: #fd9222;
    --c-text: #111;
    --c-dark: #1E1823;
    --c-wite: #FFF;
    --c-bgc-wite:#FAFAFA;
    --c-wite-70: #ffffffb3;
    --c-wite-50: #ffffff80;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--c-bcg-wite);
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.section {
    padding: 36px 0;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
.container {
        max-width: 768px; 
        padding: 0 32px;
    }
}

@media screen and (min-width: 1156px) {
    .container {
        max-width: 1200px;
    }
}

/* Header */

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 14px;
    min-width: 320px;
    max-width: 1020px;

}

.header-nav{
    display: flex;
}

.logo {
    color: var(--c-text);
    font-size: 18px;
}

.nav-list {
display: flex;
}

.nav-link {
    color: #111;
    font-size: 14px;
    text-decoration: none;
}   

.header-social-link{
    stroke: var(--c-text);
    fill: none;
    transition: 0.2s;
}

.header-social-link:hover {
    stroke: var(--c-brand);
}

.menu-burger {
    display: flex;
    align-items: center;
    padding: 0;
    width: 28px;
    height: 28px;
    stroke: var(--c-text);

}


/* Hero section */

.hero-section {
    background-color: dimgray;
}

.hero-title {
    color: #fff;
}

.button {
color: #fff;
background-color: #fd9222;
cursor: pointer;
border: none;
}

.button:hover {
    color:#fd9222;
    background-color: #FCF1E0;
    
}

/* Benefits section */

.benefits-section{
    padding: 20px 0;
    background-color: var(--c-dark);
}

.benefits-container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.benefits-sub-title {
    color: var(--c-wite);
}

.benefits-item{
    display: flex;
    flex-direction: column;
    padding-right: 28px;

}

.benefits-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--c-wite-50);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: var(--c-brand);
    width: 32px;
    height: 32px;
}

.benefits-sub-title{
    font-weight: 600;
    font-size: 18px; 
    line-height: 1.22;
    letter-spacing: 0.01em;
    margin-bottom: 18px;

}


.benefits-text{
    color: var(--c-wite-70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
.benefits-section {
        padding: 50px 0;
        
    }

    .benefits-container {
        max-width: 768px;
        padding: 0 32px;
    }


    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    .benefits-item {
        max-width: 336px;
        
    }
}

@media screen and (min-width: 1156px) {


    .benefits-container {
        max-width: 1200px;
        padding: 0 50px;
    }


    .benefits-list {
        flex-wrap: nowrap;
        gap: 70px;
    }

    .benefits-item {
        max-width: 326px;
        width: 100%;
        padding-right: 0;
    }

    .benefits-item:not(:last-child){
        position: relative;
        padding-right: 18px;
    }
    
    .benefits-item:not(:last-child)::after {
           position: absolute;
           top: 50%;
           right: 0;
            width: 124px;
            height: 1px;
            background-color: var(--c-wite-50);
            content:'' ;
            transform: rotate(-90deg) translateX(50%);
            transform-origin: 100% 0;
        }
}

/* end Benefits section */